body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #222222, #555555);
    height: 100vh;
}

header h1 {
    align-items: center;
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    font-family: serif;
}

main {
    align-items: center;
    text-align: center;
}

.time {
    display: flex;
    width: 200px;
    margin: 5rem auto;
    text-align: center;
    justify-content: space-evenly;
    font-size: 3rem;
    color: #ffffff;
}

.time .milli {
    color: #ff0000;
}

.buttons {
    display: flex;
    width: 350px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.buttons button {
    width: 150px;
    height: 50px;
    border-radius: 1rem;
    border: 3px solid black;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1.5rem;
}

.buttons button:first-child {
    width: 300px;
}

.pause,
.resume,
.reset {
    display: none;
}
